################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStrore/BookStrore/bin/Debug/net8.0
/BookStrore/BookStrore/obj
/BookStrore/.vs/BookStrore
