################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStrore/BookStrore/bin/Debug/net8.0
/BookStrore/BookStrore/obj
/BookStrore/.vs/BookStrore
/BookStrore/BookStrore/bin/Release/net8.0
/BookStrore/BookStrore/Properties
/BookStrore/BookStrore/BookStore.csproj.user
/BookStrore/BookStrore/wwwroot
